/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

#loginButton {
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.pojet-modal {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.fa-pen-to-square {
	font-size: 15px;
	margin-left: 15px;
}

#modal-btn {
	display: flex;
	background-color: #FFFEF8;
	border: none;
	cursor: pointer;
}

.modal-container {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	display: flex; 
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

#modal-container {
	display: none;
}

.modal-content {
	max-width: 90%; 
	min-width: 600px; 
	max-height: 80%; 
	min-height: 300px; 
	background-color: #fefefe;
	border-radius: 10px;
	overflow: auto;
}

.back{
	float: left;
	font-size: 28px;
	cursor: pointer;
	margin-top: 0.5em;
	margin-left: 0.5em;
}
.close-modal {
	float: right;
	font-size: 28px;
	cursor: pointer;
	margin-top: 0.5em;
	margin-right: 0.5em;
}

.title-modall {
	display: flex;
	justify-content: center;
	color: black;
	font-size: 36px;
	margin-top: 2em;
	font-family: 'Work Sans', sans-serif;
}

.modal-contentt {
	margin: 20px 80px 20px 80px;
}

.add-file {
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	margin-top: 3em;
	justify-content: center;
	align-items: center;
}

.fa-image {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	font-size: 90px;
	color: #B0BCC2;
	margin-bottom: 10px;
}

.custom-input-file {
	background-color: #B0BCC2;
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 50px;
	padding: 10px 15px;
	color: #4A718E;
	cursor: pointer;
	margin-bottom: 8px;
	width: auto;
	max-width: 40%;
}

.custom-input-file:hover   { 
	background-color: #C0C9D1; 
}

#form-addFile {
	width: 100%;
	margin: 0;
}

.modal-contentt p {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 10px;
}

#category-menu {
    display: flex;
    gap: 10px; 
    padding: 20px 0; 
    justify-content: center; 
}

#category-menu li {
    padding: 10px 20px; 
    background-color: #FFFEF8; 
    border-radius: 20px;
	border: 1px solid #1D6154; 
    list-style: none; 
    cursor: pointer;
	color: #1D6154
}

#category-menu li:hover, #category-menu li.active {
    background-color: #1D6154; 
    color: white; 
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.formulaire {
	width: 50%;
	margin: auto;
}
.formulaire > * {
	text-align: center;

}
.formulaire h2{
	margin-bottom: 20px;
}
.formulaire form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.formulaire input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formulaire label {
	margin: 2em 0 1em 0;
}
.formulaire textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.forgetPassword {
	border: none;
	background-color: #FFFEF8;
	cursor: pointer;
	text-decoration: underline;
}